version: "3.9"

services:
  web:
    build: .
    container_name: web-app
    ports:
      - "5000:5000"
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis

  redis:
    image: redis:7-alpine
    container_name: redis-db
